.P-section-xbox {
 
  padding          : 35px 0;

  .P-section-title {
    h3 {
      text-align : center;

    }
  }

  .P-xbox {
    padding       : 10px;
    border-radius : 12px;
    margin        : 15px;
    width         : calc(50% - 30px);

    h3 {
      font-size : 20px;
    }

    p {
      font-size : 16px;
    }

  }

  .P-section-list {
    display   : flex;
    flex-wrap : wrap;
  }
}
  .section4 h2{
    text-align: center;
    margin: 50px;
  }
  .section4_buttondiv{
   padding:50px 100px;
   margin: 50px;
   background-color: #f1f1f1;
   width: 1400px;
  }
  .section4_buttondiv button {
    width: 150px;
    height: 40px;
    position: absolute;
    right: 200px;
  }