.P-reasons-section {
  background-color : #dfe1e7;
  padding          : 35px 0;

  .P-reasons-title {
    h3 {
      text-align : center;

    }
  }

  .P-box {
    padding       : 10px;
    border-radius : 12px;
    margin        : 15px;
    width         : calc(25% - 30px);

    h3 {
      font-size : 20px;
      text-align: center;
    }

    p {
      font-size : 16px;
    }

    i {
      font-size : 40px;
      color     : #0055CC;
    }
  }

  .P-reasons-list {
    display   : flex;
    flex-wrap : wrap;
  }
}